body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;color:#333; direction: ltr; }
#dialogoverlay{display: none;opacity: .5;position: fixed;top: 0px;left: 0px;background: #333;width: 100%;z-index: 9999;}
#dialogbox{width: 50%; height:auto; right: 0; left: 0; position: fixed;z-index: 99999; top:-500px; transition:all 1s;}
#clear {box-shadow: 0 0 10px #1B1B1B;border-radius:5px;width:100%;overflow-x: hidden;overflow-y: auto; padding: 0; background: #fff; }
#dialogboxhead{ padding:10px 10px; border-bottom: 1px solid #ccc;}
#dialogboxbody{ padding:25px 10px; border-bottom: 1px solid #ccc;}
#dialogboxfoot{ padding:5px 10px; text-align: right; }
#dialogboxbody span,#dialogboxhead p {padding: 0 10px;}
#dialogboxfoot button {margin:5px; }
#dialogboxhead i {padding: 0  5px;color: #337AB7; font-size: 16px; cursor: pointer;}
#dialogboxhead i:hover{color:#D9534F; }
@media(max-width: 768px){#dialogbox { width: 90%; max-width: 90%;} }
@media(min-width: 769px){#dialogbox { width: 50%; max-width: 50%;} }

.butoon {text-align: center;margin: 100px auto; tpo:0; left:0; right:0; } 
